.user-chat {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  color: white;
  cursor: pointer;
}
.all-user-chat:hover {
  background-color: #2f2d52;
}
.all-user-chat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: fill;
}
.all-user-chat-info {
  width: 100%;
}
.lastMsg-time-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all-user-chat-info span {
  font-size: 18px;
  font-weight: 500;
}
.all-user-chat-info p {
  orphans: 14px;
  color: lightgray;
}
